<app-header responsive></app-header>
<div class="About" [@zoomIn]>
<div class="about">
   <h2 class="h2">ABOUT</h2>
   <hr class="green-line">
   <p>LEARN MORE ABOUT ME</p>
</div>
<div class="container">
   <img src="assets/Manoj.jpg" alt="pic">
   <div class="text">
    <p>
      I'm a self-taught Backend developer and Mobile App Developer with experience in designing new features from ideation to production,
       implementation of wireframes and design flows into high performance software applications. 
       I take into consideration the user experience while writing reusable and efficient code. I passionately combine good design, technology, and 
       innovation in all my projects, which I like to accompany from the first idea to release.Currently, 
       I'm focused on the backend development.
      </p>
      <button class="resume-button" onclick="window.location.href='assets/ManojResume.docx'">Resume</button>
      <div class="info">
      <div class="info-item">
         <span>> Degree :</span>
         <span>Bachelors(BE)</span>
      </div>
      <div class="info-item">
         <span>> Stream :</span>
         <span>Electronics and communication Engineering</span>
      </div>
      <div class="info-item">
         <span>> Location :</span>
         <span>Mvsr Engineering College Hyderabad</span>
      </div>
      <div class="info-item">
         <span>> Experience :</span>
         <span>Fresher</span>
      </div>
      <div class="info-item">
         <span>> passed out year :</span>
         <span>2023</span>
      </div>
</div>
</div>
</div>
<div class="tools">
   <h1>Tools and Technologies</h1>
   <p>Using a combination of cutting-edge technologies and reliable open-source software I build user-focused, 
      performant websites for smartphones, tablets, and desktops. And worked on servlets and jdbc built web application</p>
 </div>
 <div class="images">
   <img src="assets/java.png" alt="Java" >
   <img src="../assets/sql.png" alt="SQL">
   <img src="../assets/html.png" alt="HTML">
   <img src="../assets/css.png" alt="CSS">
   <img src="../assets/javascript.png" alt="JavaScript">
   <img src="../assets/angular.png" alt="Angular">
   <img src="../assets/git.png" alt="Git">
   <img src="assets/firebase.png" alt="Firebase" width="380px">
 </div>
 <div class="services">
    <h1>Services</h1>
    <div class="service-container">
    <div class="webapplication">
      <img src="assets/backend.jpg" alt="backend">
      <h2>Backend-devolopment</h2>
      <p>
         As a seasoned backend developer specializing in Advance java Servlets and JSP, I offer a range of services aimed at helping individuals 
         and businesses establish a strong online presence through dynamic and interactive web applications. provide security and provide session trackings and all.
         I prioritize responsive design techniques to ensure your webapplication looks great and functions flawlessly across devices of all sizes, including desktops, laptops, tablets, and smartphones.
      </p>
    </div>
    <div class="webdevolopment">
      <img src="assets/webdev.jpg" alt="webdev">
      <h2>web-devolopment</h2>
      <p>
         My personalized web development services are designed to bring your unique vision to life on the digital stage.
          Using a blend of HTML, CSS, and JavaScript, we create stunning and responsive websites that reflect your personality and accomplishments
          In addition to crafting visually captivating designs, we harness the power of Angular, a cutting-edge JavaScript framework, to build dynamic and interactive web experiences.
      </p>
    </div>
   </div>
 </div><br>
<app-foot></app-foot>