
<div class="portfolio-container">
  <img src="assets/homeimage.jpg" alt="Developer Image" class="portfolio-image">
  <div class="intro">
    <a class="name" routerLink="/home"><span><b>U Manoj Kumar</b></span></a>
    <h2>
      I'm a passionate
      <span >Java developer</span>
      from Hyderabad
    </h2>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a href="" download routerLinkActive="active">Resume</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>
  <button class="hamburger-menu" (click)="toggleActive()">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 4h18v2H3V4zm0 6h18v2H3V10zm0 6h18v2H3v-2z"/>
    </svg>
  </button>
  <div class="social-media-container" [ngClass]="{'active': isActive}">
    <a href="https://www.linkedin.com/in/manojuddandam/" target="_blank">
      <img src="assets/linkedinimage_1.jpg" alt="LinkedIn" />   
      <span class="icon-name">LinkedIn</span>
    </a>
    <a href="https://github.com/ManojKumarUddandam" target="_blank">
      <img src="assets/githubimage.jpg" alt="GitHub" />   
      <span class="icon-name">GitHub</span>
    </a>
    <a class="insta" href="https://www.instagram.com/manoj_uddandam/" target="_blank">
      <img  class="animated"  src="assets/instagramimage_1.jpg" alt="Instagram" />         
      <span class="icon-name">Instagram</span>   
    </a>
    <a href="https://www.facebook.com/ojtinku.uddhandam/" target="_blank">
      <img src="assets/facebookimage.jpg" alt="Facebook" />  
      <span class="icon-name">Facebook</span>
    </a>
  </div>
</div>
