/* General Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* Container Styles */
.portfolio-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.portfolio-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  object-fit: cover;
  opacity: 0.8;
}

.intro {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
}

/* Header Styles */
header {
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin-top: 35px;
  list-style-type: none;
}

li {
  position: relative;
  transition: filter 0.3s ease;
}

li:hover {
  filter: blur(0);
  brightness: 1.2;
}

li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, transparent 50%, rgba(97,255,175,1) 50%);
  transition: width 1s ease;
}

li:hover::before {
  width: 60%;
}

li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}

/* Link Styles */
a {
  text-decoration: none;
  color: blue;
}

.intro a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.intro a span, span.name {
  font-size: 60px;
  text-decoration-line: none;
  color: rgb(182, 214, 130);
}

span {
  font-weight: 400;
  font-size: larger;
}

h2 {
  font-weight: 200;
  color: rgb(42, 65, 5);
  font-size: x-large;
}

/* Social Media Container Styles */
.social-media-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background: rgb(182, 214, 130);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0.5;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.social-media-container.active {
  visibility: visible;
  opacity: 1;
}

.icon-name {
  margin-left: 10px;
  font-size: 18px;
  color: black;
}

.social-media-container a {
  margin: 0 10px;
  font-size: 18px;
  color: black;
  transition: transform 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}

.social-media-container a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.social-media-container a:hover::before {
  transform: scale(1);
}

.social-media-container a img {
  width: 32px;
  height: auto;
}

.hamburger-menu {
  position: absolute;
  top: 15px;
  left: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.hamburger-menu svg {
  fill: black;
  width: 100%;
  height: 100%;
}

.hamburger-menu.active svg path {
  fill: white;
}

.hamburger-menu.active + .social-media-container {
  visibility: visible;
  opacity: 1;
}

.social-media-container a:hover {
  transform: scale(1.2);
  color: white;
}

.intro a.active {
  font-weight: bold;
}

.intro a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(90deg, transparent 50%, rgba(97,255,175,1) 50%);
  transition: width 0.3s ease;
}

/* Responsive Styles */
@media only screen and (max-width: 767px) {
  .portfolio-container {
    flex-direction: column;
  }

  .intro a span {
    padding-left: 20px;
    font-size: 40px;
    text-decoration-line: none;
    color: rgb(182, 214, 130);
  }

  .intro {
    position: relative;
    bottom: 30%;
    left: 10%;
    transform: translateY(-50%, 50%);
    z-index: 2;
  }

  h2 {
    font-weight: 100px;
    font-size: medium;
    padding-left: 20px;
  }

  .intro a {
    font-size: medium;
    text-decoration: none;
    color: black;
  }

  ul {
    gap: 10px;
  }

  .intro {
    top: 400px;
    left: 5%;
  }
}